@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,700");

@import url("https://fonts.googleapis.com/css?family=Roboto:300");

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,regular,900");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus.active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input {
  outline: none;
}

button {
  outline: none;
}

textarea {
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol {
  list-style-position: inside;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

@font-face {
  font-family: "Big John";
  font-display: swap;
  src: url("../fonts/BIG JOHN.woff") format("woff"), url("../fonts/BIG JOHN.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  height: 100%;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
}

.logo {
  color: #fff;
  font-family: "Big John";
  font-weight: 700;
  font-size: 25px;
}

.title {
  color: #333b46;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

.text {
  line-height: 150%;
  color: #81868e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.link {
  display: inline-block;
  color: #333b46;
  padding: 12px 30px;
  border: 1px solid #333b46;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.link:hover {
  color: #ffffff;
  background-color: #000000;
}

.color--green {
  color: #19bd9a;
  font-weight: 700;
}

.subtitle {
  color: #464646;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.header {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/header/header-bg.jpeg) center/cover no-repeat;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.404);
  z-index: 1;
}

.header__info {
  position: relative;
  z-index: 2;
  text-align: center;
}

.header__title {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.header__promo {
  max-width: 600px;
  color: #fff;
  padding-bottom: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

.header__scroll-link {
  position: absolute;
  z-index: 3;
  bottom: 70px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #0a856a;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: hoverWave linear 2.5s infinite;
  animation: hoverWave linear 2.5s infinite;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__scroll-link:hover {
  -webkit-animation: hoverWaveBigger linear 2s infinite;
          animation: hoverWaveBigger linear 2s infinite;
}

@-webkit-keyframes hoverWave {
  0% {
    -webkit-box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 0 rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
            box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 0 rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
  }

  40% {
    -webkit-box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 15px rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
            box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 15px rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
  }

  80% {
    -webkit-box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 30px rgba(25, 189, 154, 0), 0 0 0 26.7px rgba(25, 189, 154, 0.067);
            box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 30px rgba(25, 189, 154, 0), 0 0 0 26.7px rgba(25, 189, 154, 0.067);
  }

  100% {
    -webkit-box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 30px rgba(25, 189, 154, 0), 0 0 0 40px rgba(25, 189, 154, 0);
            box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 30px rgba(25, 189, 154, 0), 0 0 0 40px rgba(25, 189, 154, 0);
  }
}

@keyframes hoverWave {
  0% {
    -webkit-box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 0 rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
            box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 0 rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
  }

  40% {
    -webkit-box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 15px rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
            box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 15px rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
  }

  80% {
    -webkit-box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 30px rgba(25, 189, 154, 0), 0 0 0 26.7px rgba(25, 189, 154, 0.067);
            box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 30px rgba(25, 189, 154, 0), 0 0 0 26.7px rgba(25, 189, 154, 0.067);
  }

  100% {
    -webkit-box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 30px rgba(25, 189, 154, 0), 0 0 0 40px rgba(25, 189, 154, 0);
            box-shadow: 0 8px 10px rgba(25, 189, 154, 0.3), 0 0 0 30px rgba(25, 189, 154, 0), 0 0 0 40px rgba(25, 189, 154, 0);
  }
}

@-webkit-keyframes hoverWaveBigger {
  0% {
    -webkit-box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 0 rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
            box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 0 rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
  }

  40% {
    -webkit-box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 50px rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
            box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 50px rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
  }

  80% {
    -webkit-box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 60px rgba(25, 189, 154, 0), 0 0 0 66.7px rgba(25, 189, 154, 0.067);
            box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 60px rgba(25, 189, 154, 0), 0 0 0 66.7px rgba(25, 189, 154, 0.067);
  }

  100% {
    -webkit-box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 65px rgba(25, 189, 154, 0), 0 0 0 80px rgba(25, 189, 154, 0);
            box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 65px rgba(25, 189, 154, 0), 0 0 0 80px rgba(25, 189, 154, 0);
  }
}

@keyframes hoverWaveBigger {
  0% {
    -webkit-box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 0 rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
            box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 0 rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
  }

  40% {
    -webkit-box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 50px rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
            box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 50px rgba(25, 189, 154, 0.2), 0 0 0 0 rgba(25, 189, 154, 0.2);
  }

  80% {
    -webkit-box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 60px rgba(25, 189, 154, 0), 0 0 0 66.7px rgba(25, 189, 154, 0.067);
            box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 60px rgba(25, 189, 154, 0), 0 0 0 66.7px rgba(25, 189, 154, 0.067);
  }

  100% {
    -webkit-box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 65px rgba(25, 189, 154, 0), 0 0 0 80px rgba(25, 189, 154, 0);
            box-shadow: 0 30px 50px rgba(25, 189, 154, 0.3), 0 0 0 65px rgba(25, 189, 154, 0), 0 0 0 80px rgba(25, 189, 154, 0);
  }
}

.nav._active::before {
  background-color: #7c703a;
}

.nav._active .nav__body {
  height: 60px;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 114px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav__logo {
  position: relative;
  z-index: 3;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.nav__burger {
  display: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list li {
  position: relative;
  z-index: 2;
}

.nav__list li:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  display: inline-block;
  color: #fff;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav__link:hover {
  border: 1px solid #fff;
}

.nav.nav--active::before {
  background: #4b4f14;
  background: -webkit-gradient(linear, left top, right top, from(#4b4f14), color-stop(64%, #885a05));
  background: -o-linear-gradient(left, #4b4f14 0%, #885a05 64%);
  background: linear-gradient(90deg, #4b4f14 0%, #885a05 64%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b4f14",endColorstr="#885a05",GradientType=1);
}

.nav.nav--active .nav__body {
  height: 50px;
}

.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 850px;
  padding-top: 80px;
  padding-bottom: 50px;
}

.promo__info {
  text-align: justify;
  margin-right: 50px;
}

.promo__title {
  padding-bottom: 50px;
}

.promo__text {
  padding-bottom: 30px;
  line-height: 200%;
}

.promo__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.promo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.details {
  background-color: #f3f3f3;
  padding-top: 60px;
  padding-bottom: 80px;
}

.details__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__promo {
  text-align: center;
}

.details__title {
  margin-bottom: 40px;
  text-transform: uppercase;
}

.details__text {
  max-width: 470px;
  margin-bottom: 60px;
}

.details__icons {
  margin-bottom: 60px;
}

.details__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #81868e;
  width: 54px;
  height: 54px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.details__icon:not(:last-child) {
  margin-right: 25px;
}

.details__icon:hover {
  background-color: #19bd9a;
}

.details__icon-img {
  width: 30px;
  height: 30px;
}

.ideas__subtitle {
  margin-bottom: 40px;
}

.ideas__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
}

.ideas__text p:first-child {
  margin-right: 130px;
}

@media (max-width: 991.98px) and (orientation: portrait) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 991.98px) {
  .nav__list li:not(:last-child) {
    margin-right: 5px;
  }

  .ideas__text p {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .ideas__text p:first-child {
    padding-right: 50px;
    margin-right: 0px;
  }
}

@media (max-width: 767.98px) and (orientation: portrait) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767.98px) {
  .nav.active::before {
    background-color: #7c573f;
  }

  .nav__body {
    height: 50px;
  }

  .nav__logo {
    padding-top: 5px;
    padding-bottom: 0;
  }

  .nav__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    position: relative;
  }

  .nav__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .nav__burger::before,
  .nav__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .nav__burger::before {
    top: 0;
  }

  .nav__burger::after {
    bottom: 0;
  }

  .nav__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .nav__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .nav__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    overflow: auto;
    padding: 70px 10px 20px 10px;
    width: 100%;
    height: 100%;
    background: #4b4f14;
    background: -webkit-gradient(linear, left top, right top, from(#4b4f14), color-stop(64%, #885a05));
    background: -o-linear-gradient(left, #4b4f14 0%, #885a05 64%);
    background: linear-gradient(90deg, #4b4f14 0%, #885a05 64%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b4f14",endColorstr="#885a05",GradientType=1);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .nav__menu.active {
    top: 0;
  }

  .nav__list {
    display: block;
  }

  .nav__list li {
    margin: 0 0 20px 0px;
  }

  .nav__list li a {
    font-size: 30px;
  }

  .details {
    padding-bottom: 60px;
  }

  .details__text {
    margin-bottom: 30px;
  }

  .details__icons {
    margin-bottom: 40px;
  }

  .ideas__subtitle {
    margin-bottom: 20px;
  }

  .ideas__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ideas__text p {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .ideas__text p:first-child {
    padding-right: 0px;
    margin-bottom: 30px;
  }
}

@media (max-width: 479.98px) {
  .promo__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .promo__info {
    margin-right: 0;
  }

  .promo__title {
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .promo__text {
    padding-bottom: 10px;
  }

  .promo__image {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .promo__img {
    width: 180px;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-height: 479.98px) and (orientation: landscape) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav__menu {
    padding: 20px 30px 20px 30px;
  }

  .nav__body {
    height: 60px;
  }
}

@media (max-height: 320px) {
  .header__container {
    padding-top: 100px;
  }
}

@media (max-height: 479.98px) {
  .header__scroll-link {
    bottom: 20px;
  }
}

.webp .header{ background: url(../img/header/header-bg.webp) center/cover no-repeat; }